.theme-button {
  position: fixed;
  z-index: 10;
  top: 60px;
  right: 20px;
  border: none;
  background-color: var(--element-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50px;
  color: var(--text-color);
  transition: top .5s ease, right .5s ease;

  @media only screen and (max-width: $tablet) {
    top: 10px;
  }
}