.info__list {
  text-align: center;
}

.card-item__nation {
  font-size: 24px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
  
  @media only screen and (max-width: $tablet) {
    font-size: 20px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 18px;
  }
}