.info__list {
  text-align: center;
}

.info__item-name-text {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 600;

    
  @media only screen and (max-width: $tablet) {
    font-size: 23px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 19px;
  }
}

.card-item__nation {
  font-size: 24px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
  
  @media only screen and (max-width: $tablet) {
    font-size: 20px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 18px;
  }
}